//
// custom azul light style here
//
//---------------------------------------

$bulmaskin_var: darkblue;
$colors: mergeColorMaps(
    (    
    "primary": (
            $bulmaskin_var,
            $white,
        ),
    ),
    $custom-colors
);
$link: $bulmaskin_var;
$body-background-color: white;

            
